body {
	font-family: 'Monserrat', sans-serif;
}

.row {
	width: 100%;
}

#header-container {
	background: #99c84a;
	color:white;
}



#menu-container {
	font-family: 'Monserrat', sans-serif;
	background-color: #f7f7f9;
}	

.navbar-nav {
	font-family: 'Monserrat', sans-serif;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;

}


.btn-platzi {
	background-color: #99c84a; 
	color:white;
	/*position: relative;*/
}

.btn-platzi:hover {
	background-color: #8ab542; 
}

.form {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.form-control {
	margin-bottom: 3px;

}

input.form-control:focus {
	border-color: 1px solid #99c84a;

}

.login,
#header-container .navbar-toggler {
	color: white;
}





@media screen and (min-width: 768px) {
	.mostrar {
		display: none !important;
	}
}

@media screen and (max-width: 767px) {
	.mostrar {
		display: block !important;
	}
}



