body {
	font-family: 'Monserrat', sans-serif;
}

.row {
	width: 100%;
}

#header-container {
	background: #99c84a;
	color:white;
}



#menu-container {
	font-family: 'Monserrat', sans-serif;
	background-color: #f7f7f9;
}	

.navbar-nav {
	font-family: 'Monserrat', sans-serif;
	/*flex-direction: row;*/
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 100%;

}


.btn-platzi {
	background-color: #99c84a; 
	color:white;
	/*position: relative;*/
}

.btn-platzi:hover {
	background-color: #8ab542; 
}

.form {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    
}

/*.form input {
	box-sizing:border-box;
}*/

.form-control {
	margin-bottom: 3px;

}

input.form-control:focus {
	border-color: 1px solid #99c84a;

}

.login,
#header-container .navbar-toggler {
	color: white;
}

#carouselExampleIndicators {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 26%, rgba(0,0,0,0) 47%, rgba(0,0,0,0.13) 58%, rgba(0,0,0,0.22) 65%, rgba(0,0,0,0.24) 67%, rgba(0,0,0,0.29) 71%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 26%,rgba(0,0,0,0) 47%,rgba(0,0,0,0.13) 58%,rgba(0,0,0,0.22) 65%,rgba(0,0,0,0.24) 67%,rgba(0,0,0,0.29) 71%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 26%,rgba(0,0,0,0) 47%,rgba(0,0,0,0.13) 58%,rgba(0,0,0,0.22) 65%,rgba(0,0,0,0.24) 67%,rgba(0,0,0,0.29) 71%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	margin: 0 auto;
	padding: 55px 0;
}

.item {
	/*height: 600px;*/
	/*position: relative;*/
}

.item img {
	margin: auto;
    height: 20%;
    width: 20%;
}
   
.carousel-caption {
	color: lightgray;
}  



@media screen and (min-width: 768px) {
	.mostrar {
		display: none !important;
	}
}

@media screen and (max-width: 767px) {
	.mostrar {
		display: block !important;
	}
}



